    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
          class="fa fa-home w3-margin-right"></i>Patient Portal</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Add New Patient Profile">
        <i class="fa fa-user-plus"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" data-toggle="modal" data-target="#AddprofileModal">Add new patient profile</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-hide-small">
    <script>
    function hide_badge(){
      var get_badge = document.getElementById("badge");
      get_badge.style.display = "none";
  }
    </script>
    <button onclick="hide_badge()" class="w3-button w3-padding-large" title="Notifications" data-toggle="modal" data-target="#notificationModal">
        <i class="fa fa-bell"></i>
        <span class="w3-badge w3-right w3-small w3-green" id="badge">1</span>
    </button>
  </div>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Case-Search">
        <i class="fa fa-search"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button" data-toggle="modal" data-target="#searchModal">Case Search</a>
    </div>
  </div>
              <div class="w3-dropdown-hover w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" >
                    <button class="w3-circle" style="background:
                    url('images/benny.jpg');
                    background-size: contain; height:23px;width:23px"
                            alt="Avatar">

                    </button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block"
                         style="width:300px; right:40px">
                        <a href="#" class="w3-bar-item w3-button" data-toggle="modal" data-target="#ProfileModal">Profile</a>
                      <a class="w3-bar-item w3-button">Settings</a>
                        <a href='#' class="w3-bar-item w3-button" data-toggle="modal" data-target="#logoutModal">Log
                            Out</a>
                    </div>

              </div>

          </a>

 </div>
</div>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a href="/logout">
          <button type="submit" class="btn btn-primary">Yes</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Notification Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Report Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have new report(s):
        <button style="margin-right:10px" type="button" class="w3-button w3-theme" onclick="location.href='/case?case_id=2314'">
            CASE #2314
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{{!-- case search Modal --}}
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search for a Case</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/case-search" method="POST" id="case-search" name="case-search">

      <div class="modal-body">
        Search by case number or patient name:
          <input type="text" name="searchstring" placeholder="Case # or Patient Name" maxlength="50" size="40" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

        <button type="submit" class="btn btn-primary">Search</button>

      </div>
      </form>
    </div>
  </div>
</div>

<!-- Profile modal -->
<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{name}}'s Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Name: {{name}}
      </div>
      <div class="modal-body">
        Email: {{email}}
      </div>
      <div class="modal-body">
        Patient : {{ap}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Add patient profile modal -->
<div class="modal fade" id="AddprofileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Creat new patient profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Patient name</p>
        <div class="account-username-input-element">
          <input type="text" id="account-username-attribution-input" style= "border: none; border-bottom: 1px solid lightgrey; background: transparent; outline: none; height: 40px; color: black;" placeholder="Enter your name">
        </div>
      </div>
      <div class="modal-body">
        <p>Password</p>
        <div class="account-password-input-element">
          <input type="password" id="account-password-attribution-input" style= "border: none; border-bottom: 1px solid lightgrey; background: transparent; outline: none; height: 40px; color: black;" placeholder="Let your patient enter this">
        </div>
      </div>
      <div class="modal-body">
        <p>Email</p>
        <div class="account-username-input-element">
          <input type="text" id="account-email-attribution-input" style= "border: none; border-bottom: 1px solid lightgrey; background: transparent; outline: none; height: 40px; color: black;" placeholder="Enter your email">
        </div>
      </div>
      <div class="modal-body">
        Attending Physician : Dr.{{name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-account-button" data-dismiss="modal">Create a profile</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
function create_account(){
  var creating_bool = 0;

  if(document.getElementById("account-username-attribution-input").value != "" && document.getElementById("account-password-attribution-input").value != "" && document.getElementById("account-email-attribution-input").value ){
    creating_bool = 1;
  }
  if(document.getElementById("account-password-attribution-input").value.length < 3){
    creating_bool = 0;
  }

  if(creating_bool == 1){
    alert("Your account is successfully created !");
    users.push(document.getElementById("account-username-attribution-input").value);
    users[users.length - 1].password.push(document.getElementById("account-password-attribution-input").value);
    users[users.length - 1].email.push(document.getElementById("account-email-attribution-input").value);
    users[users.length - 1].patient.push({{name}});
    document.getElementById("AddprofileModal").classList.add('hidden');
  }

  if(creating_bool == 0){
    alert("check your password length (at least 4) or don't left any blank for creating your account !");
    document.getElementById("account-username-attribution-input").value = "";
    document.getElementById("account-password-attribution-input").value = "";
    document.getElementById("account-email-attribution-input").value = "";

  }
}

var create_account_button = document.querySelector(".modal-account-button");
create_account_button.addEventListener('click', create_account);
</script>

<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
<!-- Middle Column -->
  <div class="w3-col">

    <div class="w3-row-padding casebox">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity" style="font-size:30px;
              font-weight: bolder">Case Search Results</h6>

              {{#if matches}}
                <p contenteditable="false" class="w3-border
                w3-padding">Matches found for: "{{searchstring}}"</p>
                {{#each matches}}

                  <p class="pstyle">
                    <button style="margin-right:10px" type="button"
                            class="w3-button w3-theme" onclick="location.href='/case?case_id={{this.caseNum}}'">CASE #{{this.caseNum}}
                    </button>Patient Name: {{this.name}}
                  </p>

                {{/each}}
              {{else}}
                <p contenteditable="false" class="w3-border
                w3-padding">No matches found for: "{{searchstring}}"</p>
              {{/if}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
